h1{
font-size: 30px;
text-align: center;
color: #000000
}
h2{
    font-size: 25px;
    text-align: left;
    color: #000000
    }
h3{
font-size: 20px;
text-align: left;
}
p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

img {
    max-width: 50%;
    max-height: 50%;
   }
   .cat {
    height: 50px;
    width: 50px;
   }
a{
    font-size: 25px;
    text-align: left;
    color: #000000
    }
body {
background-color: #e86e6ee0;
}